.items{
    cursor: pointer;
    margin-left: -15px !important;
    margin-right: -15px !important;
    font-size: 18px;
}
.items:hover{
    background-color: rgb(241, 239, 239);
    // font-style:italic;
}
.medium{
    font-size: 14px;
}